* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 400px;
}

button {
    height: 150px;
    width: 150px;
    margin: 100px 0;
    background-color: lightgray;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
}

#results {
    background-color: lightgray;
    height: 100px;
}

#human, #cpu {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

h2, h3 {
    text-align: center;
    color: white;
    background-color: black;
}

h3 {
    padding-bottom: 50px;
    
}